<form action="/post-9pay" method="post">
    <input type="text" name="name" value="" placeholder="tên SP" required>
    <input type="number" name="price" value="" placeholder="Giá SP" required>
    <button type="submit">Mua</button>
</form>