<!DOCTYPE html>
<html lang="en">
 
  <head>
    <%- include('./head'); %>
    <title>Địa chỉ nhận hàng</title>
  </head>
  <body>
    <style>
      .bg-header-nav .header-nav>ul.item_big>li.active{
          background: #252525;
      }
  ul.item_big li.nav-item:nth-last-child(3){
    background: #66a182;
  }
  .modal .modal-dialog .modal-content .modal-header{
    background-color: #1f2224;
    color: white;
  }
  
   .close {
    background: none;
    border: none;
    font-size: 30px;
    color: #f79f60;
}
  </style>
    <%- include('./header'); %>
    <div class="section_sidebar_slider">
      <div class="container">
        <div class="row">
          <div class="dqdt-sidebar sidebar left-content col-lg-3 col-md-12 hidden-sm hidden-xs">
            <div class="wrap_background_aside asidecollection">
              
            </div>
            <div class="sanPhamBanChay">
            </div>
          </div>
          
          <div class="main_container collection col-lg-9 col-md-12 col-sm-12">
            <section class="bread-crumb">
                <span class="crumb-border"></span>
                <div class="container no-padding">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <ul class="breadcrumb">					
                                <li class="home">
                                    <a href="/"><span>Trang chủ</span></a>						
                                    <span class="mr_lr">&nbsp;<i class="fas fa-chervon-right"></i>&nbsp;</span>
                                </li>
                                <li><strong><span> Địa chỉ nhận hàng</span></strong></li>     
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="collectiontitle" style="align-items: center; display: flex; justify-content: space-between; margin-bottom: 20px;">
                <h1 class="cat-heading">Địa chỉ nhận hàng</h1>
                <button class="btn btn-primary" style="float: right;" data-bs-toggle="modal" data-bs-target="#add-address" id="add-address-button">Thêm mới địa chỉ</button>
            </div>
            <div class="container">
                <div class="col-12">
                      <div class="list-item-address" style="margin-bottom: 30px;">
                              
                              
                      </div>
                </div>
            </div>
           
           
           
          </div>

        </div>
      </div>
    </div>
    
    
    <div class="modal fade " id="add-address" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog  modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Thêm mới địa chỉ</h5>
            <button type="button" class="close" data-bs-dismiss="modal" id="closeAddDiaChi">
              <span aria-hidden="true">×</span></button></div>
          <form action="/add-address-member" method="post" style="margin: 0;" id="themmoichiachi">
            <div class="modal-body">
            
              <div class="form-group">
                <label for="name">Họ tên người nhận</label>
                <input type="text" name="name" class="form-control" id="name"  placeholder="Nhập họ tên người nhận">
                
              </div>
              <div class="form-group">
                <label for="number">Số điện thoại</label>
                <input type="text" class="form-control" name="phone" id="number" placeholder="Nhập số điện thoại">
              </div>
              <div class="form-group col-6">
                <label for="exampleFormControlSelect1">Tỉnh/thành phố</label>
                <select class="form-select" onchange="getTinh()" id="tinh-tp" name="tenTinh">
                 
                </select>
              </div>
              <div class="form-group col-6" id="select-quan-huyen">
                
                  
             
              </div>
              <div class="form-group col-6" id="select-xa-phuong">
              
            
              </div>
              <div class="form-group" id="detai-address">
               
                
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" data-bs-toggle="modal" data-bs-target="#thongBao" id="showThongBao" hidden>Thông báo</button>
              <button type="submit" class="btn btn-success">Thêm mới</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="thongBao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
          <div class="modal-header bg-white " >
            <h5 class="modal-title text-dark" id="staticBackdropLabel">Thông báo</h5>
            <button type="button" class="close" data-bs-dismiss="modal">
              <span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body" id="errMessage">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
           
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade " id="edit-address" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog  modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sửa địa chỉ</h5>
            <button type="button" class="close" data-bs-dismiss="modal" id="closeAddDiaChi">
              <span aria-hidden="true">×</span></button></div>
          <form action="/edit-address-member" method="post" style="margin: 0;" id="suaDiaChi">
            <div class="modal-body">
            
              <div class="form-group">
                <label for="name">Họ tên người nhận</label>
                <input type="text" name="name" class="form-control" id="editname" value=""  placeholder="Nhập họ tên người nhận">
                
              </div>
              <div class="form-group">
                <label for="number">Số điện thoại</label>
                <input type="text" class="form-control" name="phone" id="editnumber" value="" placeholder="Nhập số điện thoại">
              </div>
              <div class="form-group">
                <label for="number">Địa chỉ</label>
                <input type="text" class="form-control" name="address" id="editaddress" value="" placeholder="Địa chỉ của bạn" disabled>
              </div>
              <div class="form-group col-6">
                <label for="exampleFormControlSelect1">Tỉnh/thành phố</label>
                <select class="form-select" onchange="getTinh()" id="tinh-tp" name="tenTinh">
                 
                </select>
              </div>
              <div class="form-group col-6" id="select-quan-huyen">
                
                  
             
              </div>
              <div class="form-group col-6" id="select-xa-phuong">
              
            
              </div>
              <div class="form-group" id="detai-address">
               
                
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" data-bs-toggle="modal" data-bs-target="#thongBao" id="showThongBao" hidden>Thông báo</button>
              <button type="submit" class="btn btn-success">Thêm mới</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
      </div>
    </div>
    <%- include('./footer'); %>
    <script
        type="text/javascript"
        src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
    <script>
      function loadItemAddresses() {
          $.get("/item-list-addess", function (data) {
                  $(".list-item-address").empty().append(data);
                });
        }
        $(document).ready(function () {
          $.get("/danhmuc-profile-member", function (data) {
                  $(".asidecollection").empty().append(data);
                });
            loadItemAddresses()
        });
     
      $('#sapxep').on('change', function(e){
    
        let id_category = $(this).attr("data-id")
        let value = $(this).val()
        if(value && value != "") {
          
          $.get(`/sapXep-products?id=${id_category}&page=1&value=${value}`, function (data) {
                $(".listProduct-category").empty().append(data);
              });
        }    
      })
      $("#add-address-button").on("click",function(){
        $.get("/api-app/tinhThanh", function (data) {
         
          if(data.errCode == 0){
            let arrTinh = data.listTinhThanh
            $("#tinh-tp").empty().append( 
              '<option value="" data-tinh="0">------ Chọn tỉnh thành --------</option> '+
              arrTinh.map(function (item, i){
                  return `<option value="${item._name}" data-tinh='${item.id}' >${item._name}</option>`
              })

            );
          }
         
        });

      })
      function getTinh(){
          let  name = $('#tinh-tp').val();
          let  idTinh= $('#tinh-tp option:selected').data("tinh");
          $("#select-xa-phuong").empty().append("")
          $("#detai-address").empty().append("")
   
          if(parseFloat(idTinh)>0){
           
                $.get("/api-app/quan?tinh="+idTinh, function (data) {
            
                  
                    if(data.errCode ==0){
                      let arrQuan = data.listQuan
                     
                      $("#select-quan-huyen").empty().append( 
                        `
                        <label for="exampleFormControlSelect1" >Quận/huyện</label>
                    <select class="form-select" onchange="getQuanHuyen()" id="quan-huyen" name="tenQuanHuyen">
                        <option value="">------ Chọn Quận Huyện --------</option> `+
                        arrQuan.map(function (item, i){
                            return `<option value="${item._prefix +' '+item._name}" data-quan-huyen='${item.id}' >${item._prefix +' '+item._name}</option>`
                        })
                        +
                        `<select
                        `
                      );
                }
          
                
            })
          }else{
            $("#select-quan-huyen").empty().append("")
            $("#select-xa-phuong").empty().append("")
            $("#detai-address").empty().append("")
          }
      }
      function getQuanHuyen(){
          let idTinh = $('#tinh-tp option:selected').data("tinh");
          let  name= $('#quan-huyen').val();
          let  idQuan= $('#quan-huyen option:selected').data("quan-huyen");
          $("#detai-address").empty().append("")
          if(parseFloat(idTinh&&idQuan)>0){
           
                $.get("/api-app/xa?tinh="+idTinh+"&quan="+idQuan, function (data) {
            
                  
                    if(data.errCode == 0){
                      let arrXa = data.listXa
                      if(arrXa.length > 0){
                        $("#select-xa-phuong").empty().append( 
                        `
                        <label for="exampleFormControlSelect1" >Xã/Phường</label>
                    <select class="form-select" onchange="getXaPhuong()" name="tenXaPhuong" id="xa-phuong">
                        <option value="">------ Chọn Xã Phường --------</option> `+
                        arrXa.map(function (item, i){
                            return `<option value="${item._prefix +' '+item._name}" data-xa-phuong='${item.id}' >${item._prefix +' '+item._name}</option>`
                        })
                        +
                        `<select
                        `
                      );
                      }else{
                        $("#select-xa-phuong").empty().append( 
                        `
                        <label for="exampleFormControlSelect1" >Xã/Phường</label>
                    <select class="form-select" onchange="getXaPhuong()" name="tenXaPhuong" id="xa-phuong">
                        <option value="koCo">------ Không có --------</option> `+
                        
                        `<select
                        `
                      );
                      }
                      
                }
          
                
            })
          }else{
            $("#select-xa-phuong").empty().append("")
          }
      }
     function getXaPhuong(){
      let  name= $("#xa-phuong").val();
      console.log("OKSPJSA");
      if(name !=""){
        $("#detai-address").empty().append(` <label for="detai-address">Địa chỉ cụ thể</label>
                <input type="text" name="detai_address" class="form-control" id="detai-address"  placeholder="Số đại chỉ cụ thể">` )
      }else{
        $("#detai-address").empty().append("")
      }
          
      }
      $("#themmoichiachi").submit(function(e) {

          e.preventDefault(); // avoid to execute the actual submit of the form.

          var form = $(this);
          var actionUrl = form.attr('action');
            
          $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), 
            success: function (data) {
                    if(data.errCode == 0){
                        $("#name").val("")
                        $("#phone").val("")
                        $("#tinh-tp").val("")
                        $("#select-quan-huyen").empty().append("")
                        $("#select-xa-phuong").empty().append("")
                        $("#detai-address").empty().append("")
                        loadItemAddresses()
                        $("#closeAddDiaChi").click()

                    }else{
                     
                      $("#errMessage").empty().append(`<h5>${data.errMessage}</h5>`)
                      $('#showThongBao').click()
                    
                     //alert(data.errMessage)
                    }
                  },
                  error: function (data) {
                      console.log('An error occurred.');
                      console.log(data);
                  },
          });

          });

      function deleteAddressMember(id_addres) {
        // console.log(id_address);
        let id_address = parseInt(id_addres)
          if(id_address){
            $.ajax({
              url: "/delete-address-member?id_address="+id_address,
              type: 'DELETE',
              success: function(data) {
                console.log(data);
                if(data.errCode == 0){
                  loadItemAddresses()
              }else{
                $("#errMessage").empty().append(`<h5>${data.errMessage}</h5>`)
              }
              }
          });
          }else{
            alert("Thất bại")
          }  
      }
      function setStatusAddress(id){
        let id_address = parseInt(id)
          if(id_address){
            $.get("/set-status-address?id_address="+id_address, function (data) {
                if(data.errCode == 0){
                  loadItemAddresses()
                }else{
                  $("#errMessage").empty().append(`<h5>${data.errMessage}</h5>`)
                }
            })
          }else{
            alert("Thất bại")
          }  
      }
    </script>
  </body>

</html>
