
<footer class="col-12 footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 footer-item">
                <h3>Ưu đãi Khách hàng</h3>
                <ul>
                    <li>
                        <a href="#" title="Tìm nhà trọ Hà Nội">Tìm hàng chính hãng</a>
                    </li>
                    <li>
                        <a href="#" title="Tìm nhà trọ Đà Nẵng">Các mặt hàng xách tay</a>
                    </li>
                    <li>
                        <a href="#" title="Tìm phòng trọ TP Hồ Chí Minh">Mua hàng trả  góp</a>
                    </li>
                    <li>
                        <a href="#" title="Nhà trọ sinh viên">Chính sách bảo mật thông tin khách hàng</a>
                    </li>
                    <li>
                        <a href="#" title="Cho thuê phòng trọ khép kín">Chính sách mua hàng Online</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 col-md-4 footer-item">
                <h3>HỖ TRỢ KHÁCH HÀNG</h3>
                <ul>
                    <li><a href="#">An toàn mua bán</a></li>
                    <li><a href="#">Quy định cần biết</a></li>
                    <li><a href="#">Liên hệ hỗ trợ</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 col-md-4 footer-item">
                <h3>LIÊN KẾT VỚI CHÚNG TÔI</h3>
                <ul>
                    <li><a href="tel:+84969664896">CSKH: 0969.664.896</a></li>
                    <li><a href="#">Email: hiennguyen@gmail.com</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="full-width text-center copyright">
    <p>Copyright © 2023 - design by Hien Nguyen </p>
</div>
</footer>
