<!DOCTYPE html>
<html lang="en">
 
  <head>
    <%- include('./head'); %>
    <title>Giỏ hàng</title>
  </head>
  <body>
    <style>
      .bg-header-nav .header-nav>ul.item_big>li.active{
          background: #252525;
      }
      #info-order{
        background: #66a182;
      }
      #info-order a{
        color: #fff;
      }
  </style>
    <%- include('./header'); %>
    <div class="section_sidebar_slider">
      <div class="container">
        <div class="row">
          <div class="dqdt-sidebar sidebar left-content col-lg-3 col-md-12 hidden-sm hidden-xs">
            <div class="wrap_background_aside asidecollection">
              
            </div>
            <div class="sanPhamBanChay">
            </div>
          </div>
          
          <div class="main_container collection col-lg-9 col-md-12 col-sm-12">
            <section class="bread-crumb">
                <span class="crumb-border"></span>
                <div class="container no-padding">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <ul class="breadcrumb">					
                                <li class="home">
                                    <a href="/"><span>Trang chủ</span></a>						
                                    <span class="mr_lr">&nbsp;<i class="fas fa-chervon-right"></i>&nbsp;</span>
                                </li>
                                <li><strong><span> Giỏ hàng</span></strong></li>     
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="collectiontitle">
                <h1 class="cat-heading">Giỏ hàng </h1>
            </div>
            <div class="container">

                <div class="col-12 list-don-hang">

                </div>
                <div style="text-align: right; margin-bottom: 20px;">
                  <button class="btn-lg btn-dark"  id="datHang">Đặt hàng</button>
                </div>
            </div>
           
           
           
          </div>

        </div>
      </div>
    </div>
    
    <button  data-bs-toggle="modal" data-bs-target="#modalListThanhToan" id="showModal" hidden>show</button>
    <div class="modal fade " id="modalListThanhToan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content" >
          <form action="/post-thanh-toan" method="post" id="postThanhToan">

         
          <div class="modal-header bg-white " >
            <h5 class="modal-title text-dark" id="staticBackdropLabel">Thanh toán đơn hàng</h5>
            <button type="button" class="close  btn btn-danger" data-bs-dismiss="modal" id="close-modal-thanhtoan">
              <span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body" id="content-list-thanh-toan">
            
          </div>
          <div class="modal-footer">
            <button type="submit" fo class="btn btn-success" >Đặt hàng</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
           
          </div>   
        </form>
        </div>
      </div>
    </div>
    <%- include('./footer'); %>
    <script
        type="text/javascript"
        src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
    <script>
       
      $(document).ready(function () {
        $.get("/danhmuc-profile-member", function (data) {
                $(".asidecollection").empty().append(data);
              });
        $.get("/ajax-list-don-hang", function (data) {
                $(".list-don-hang").empty().append(data);
              });
       
          $.get("/list-order-thanhtoan", function (data) {
        $("#content-list-thanh-toan").empty().append(data);
      });

       
      });
     
     function loadData() {
          $.get("/ajax-list-don-hang", function (data) {
                $(".list-don-hang").empty().append(data);
              });
              $.get('/count-cart', function (data) {
           if(data.errCode == 0){
            $(".cartCount").empty().append(`${data.count}`)
              }
            });
     }

      function congSoLuong(id){
       let id_cart = parseInt(id)
        $.get("/cong-soluong-cart?id_cart="+id_cart, function (data) {
                console.log(data.errCode);
                  if(data.errCode == 0){
                    loadData()
                  }
              });
      }
      function truSoLuong(id){
        let id_cart = parseInt(id)
        $.get("/tru-soluong-cart?id_cart="+id_cart, function (data) {
       
          if(data.errCode == 0){
            loadData()
              }
          });
      }
      function deleteCart(id){
        let id_cart = parseInt(id)
          if(id_cart){
            $.ajax({
              url: "/delete-cart?id_cart="+id_cart,
              type: 'DELETE',
              success: function(data) {
                console.log(data);
                if(data.errCode == 0){
                  loadData()
              }else{
                alert(data.errMessage)
              }
              }
          });
          }else{
            alert("Thất bại")
          }   
      }

      function selectSize(id_cart) {
        let size = $('#id_size'+id_cart).val();
        // console.log(size, "size-value");
        // console.log(cart_id, "cart_id");
        // console.log(id_data, "id-data");
        
        // console.log(data_value, "size-data-value");
        $.get("/update-size-order?id_cart="+id_cart+"&size="+size, function (data) {
          console.log(data);
          if(data.errCode == 0){
            
            loadData()
              }
          });
      }
     $("#datHang").on("click", function(){
      $.get("/list-order-thanhtoan", function (data) {
            $("#content-list-thanh-toan").empty().append(data);
              
          });
          $("#showModal").click()
     }) 

     $("#postThanhToan").submit(function(e) {

          e.preventDefault(); // avoid to execute the actual submit of the form.

          var form = $(this);
          var actionUrl = form.attr('action');
            
          $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), 
            success: function (data) {
                if(data.errCode == 0){
                    loadData()
                    $("#close-modal-thanhtoan").click()
                    alert(data.errMessage);
                   
                }else if(data.errCode == 10){
                  window.location.href = data.url;
                }else{
                  alert(data.errMessage);
                }
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
          });

          });
    </script>
  </body>

</html>
