<!DOCTYPE html>
<html lang="en">
 
  <head>
    <%- include('./head'); %>
    <title>Nạp tiền tài khoản</title>
  </head>
  <body>
    <style>
      .bg-header-nav .header-nav>ul.item_big>li.active{
          background: #252525;
      }
  #info-naptien{
    background: #66a182;
  }
  #info-naptien a{
    color: #fff;
  }
  </style>
    <%- include('./header'); %>
    <div class="section_sidebar_slider">
      <div class="container">
        <div class="row">
          <div class="dqdt-sidebar sidebar left-content col-lg-3 col-md-12 hidden-sm hidden-xs">
            <div class="wrap_background_aside asidecollection">
              
            </div>
            <div class="sanPhamBanChay">
            </div>
          </div>
          
          <div class="main_container collection col-lg-9 col-md-12 col-sm-12">
            <section class="bread-crumb">
                <span class="crumb-border"></span>
                <div class="container no-padding">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <ul class="breadcrumb">					
                                <li class="home">
                                    <a href="/"><span>Trang chủ</span></a>						
                                    <span class="mr_lr">&nbsp;<i class="fas fa-chervon-right"></i>&nbsp;</span>
                                </li>
                                <li><strong><span> Nạp tiền tài khoản</span></strong></li>     
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            
            <div class="col-5">
               
                <form action="/post-naptien-9pay" method="post" id="post-nap-tien">
                <div class="mb-3 form-group">
                    <label for="exampleInputEmail1" class="form-label">Nhập số tiền muốn nạp</label>
                    <input type="number" class="form-control" min="20000" name="price">
                  
                </div>
              
                <button type="submit" class="btn btn-success">Nạp tiền</button>
                </form>
            </div>
           
           
           
          </div>

        </div>
      </div>
    </div>
    
    
    <div class="modal fade " id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          
        </div>
      </div>
    </div>
    <%- include('./footer'); %>
    <script
        type="text/javascript"
        src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
    <script>
    
      $(document).ready(function () {
        $.get("/danhmuc-profile-member", function (data) {
                $(".asidecollection").empty().append(data);
              });
       
      
       
      });
     
      $("#post-nap-tien").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = form.attr('action');
            
        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), 
            success: function (data) {
                if(data.errCode ==0){
                    window.location.href = data.url;
                }else{
                    alert(data.errMessage);
                }
                
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
        });

        });
      
    </script>
  </body>

</html>
